* {
    margin: 0%;
    padding: 0%;
}

ul {
    list-style-type: none;
}

body {
    background-color: #101010;
    color: white;
    font-family: 'Trebutchet MS', Tahoma, Arial, sans-serif;
    font-size: large;
    /*font-variant: small-caps;*/
}

a {
    text-decoration: none;
    color: white;
}



/* button style */
button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    cursor: pointer;

    background-color: #919191;
    color: #202020;

    letter-spacing: 1px;
    text-transform: lowercase;
}

/* footer with social media shared across all site files */

nav {
    width: 100vw;
    height: 22vh;

    margin-bottom: 7vh;

    overflow-y: hidden;
    overflow-x: auto;

    display: inline-flex;
    background-color: #202020;
}

#logo {
    
    height: 18vh;
    padding: 2vh 1vw;
}

nav ul {
    width: 80%;  /* how to fill rest of nav without specifying width */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {

    text-align: center;
    font-size: 1.20rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav a:hover {
    text-shadow: 0px 0px 10px #919191;
}

/* general for <main> */

main {
    width: 100vw;
    margin-bottom: 6vh;
    
    padding-top: 1px;
    padding-bottom: 1px;

    overflow-x: hidden;
    overflow-y: auto;

    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

main > * {
    border: 1px solid #919191;

}

/* for index.php or similar */

main video {
    max-height: 50vh;
    max-width: 100%;

}

#videoform {
    width: 90%;
    min-height: 30vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#videoform form {
    width: 40%;
    min-width: 50vh;
    max-width: 100%;
}

#formcheckbox label {
    /*using flex and row reverse to invert checkbox and label was problematic*/
    padding-left: 15%;
}

/* for about.php or similar */

main .desc {
    width: 50%;
    min-width: 100px;

    padding: 1rem;
}

main .desc p {
    padding-top: 0.2rem;
}

/* for members.php or similar */

#members {
    max-width: 90%;
    min-width: 50%;

    padding: 1rem;
}

#members table {
    width: 100%;
}

#members th, #members td {
    padding: 0.5rem;
}

/* for login.php, index.php form or similar */

main form {
    height: auto;
    width: 50%;

    /*margin-top: 10vh;*/

    display: flex;
    flex-direction: column;
    align-items: left;

    /*font-size: large;*/
    letter-spacing: 1px;
    text-transform: lowercase;
}

main form label {
    padding-left: 20%;
    padding-top: 0.5rem;
    text-align: left;
}

main form input, main form button, #message{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    padding: 0.5rem;
}

/* footer with social media shared between all site files */

footer {
    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 5vh;
    min-height: 40px;
    display: inline-flex;

    background-color: #919191;
}

footer ul {
    width: 100%;  /* how to omit specifying this */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer img {
    max-width: 20px;
    padding: 10px;
}

